.slideshow{}
.slideshow .pagination{ position:relative; top:175px; left:10px; margin:0; padding:0; z-index:999;}
.slideshow .pagination li{ list-style-type:none;float:left; margin:0 9px 0 0;}
.slideshow .pagination li a{ background:url(pager.png) no-repeat 100% 0; display:block; width:10px; height:10px; text-indent:-10000px;}
.slideshow .pagination li.current a,
.slideshow .pagination li a:hover{ background:url(pager.png) no-repeat 0 0;}